/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */


.outline-grid {
  transition: all 0.3s ease-in-out;
}

.outline-grid:hover {
  background-color: #e9f0f6;
}
