.classy {
  background-color: skyblue;
  color: red;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.content {
  width: 95%;
  height: 1130px;
  background: white;
  margin: auto;
  text-align: left;
  border: 1px solid rgb(0, 183, 255);
  border-radius: 4px;
  display: inluine-block;
  vertical-align: top;
  overflow: hidden;

}

.mycontainer-sm {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 90%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
  border: 1px solid rgb(207, 238, 250);
  border-radius: 4px;
}
